* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
}
.field-required {
  color: red;
  font-weight: bold;
}
.searched-location-weather {
  background-color: #ab6e6e;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.App {
  background: red;
  position: relative;
  padding: 1rem;
}

.App.clear {
  background-image: url("/src/assets/images/clear-blue-sky.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.night {
  background-image: url("/src/assets/images/night.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.cloudy {
  background-image: url("/src/assets/images/clouds.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.snowy {
  background-image: url("/src/assets/images/snow.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.rain {
  background-image: url("/src/assets/images/rain.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.thunderstorm {
  background: purple;
  background-image: url("/src/assets/images/thunder.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.drizzle {
  background: brown;
}
.App.fog {
  background-image: url("/src/assets/images/fog.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.mist {
  background: rgb(86, 183, 190);
}
.App.haze {
  background: rgb(155, 211, 144);
}

.search-wrapper {
  background-color: #222;
  padding: 1rem;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-info {
  color: #fff;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}
.temp {
  font-size: 8rem;
  font-weight: 400;
}
.location {
  font-weight: 300;
  margin-right: 0.5rem;
}
.col-two {
  display: flex;
}
.forecast-wrapper {
  margin-top: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}
@media screen and (min-width: 550px) {
  .forecast-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
