* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.field-required {
  color: red;
  font-weight: bold;
}
.searched-location-weather {
  background-color: #ab6e6e;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.App {
  background: red;
}

.App.clear {
  background: blue;
}

.App.cloudy {
  background: yellow;
}
.App.snowy {
  background: green;
}
.App.rain {
  background: orange;
}
.App.thunderstorm {
  background: purple;
}
.App.drizzle {
  background: brown;
}
.App.fog {
  background: grey;
}
.App.mist {
  background: rgb(86, 183, 190);
}
.App.haze {
  background: rgb(155, 211, 144);
}
