* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
}
body {
  font-family: "Outfit", sans-serif;
}
input::placeholder {
  font-family: "Outfit", sans-serif;
}
input {
  font-family: "Outfit", sans-serif;
  height: 40px;
  padding-left: 0.5rem;
  border: none;
  width: 100%;
}
.search-btn {
  background-color: #222;
  color: #fff;
  border: none;
  height: 40px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  cursor: pointer;
}
.field-required {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-top: 0.4rem;
}
.searched-location-weather {
  background-color: #ab6e6e;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
.App {
  background-image: url("/src/assets/images/clouds.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 1rem;
}
.App.clear {
  background-image: url("/src/assets/images/clear-blue-sky.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.night {
  background-image: url("/src/assets/images/night.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.cloudy {
  background-image: url("/src/assets/images/clouds.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.snowy {
  background-image: url("/src/assets/images/snow.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.rain,
.App.drizzle {
  background-image: url("/src/assets/images/rain.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.thunderstorm {
  background-image: url("/src/assets/images/thunderstorm.jpeg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.fog {
  background-image: url("/src/assets/images/fog.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.mist {
  background-image: url("/src/assets/images/mist.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App.haze {
  background-image: url("/src/assets/images/haze.jpg");
  background-color: rgb(63, 63, 63) !important;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-wrapper {
  background-color: #222;
  padding: 1rem;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.weather-info {
  color: #fff;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}
.temp {
  font-size: 8rem;
  font-weight: 400;
}
.location {
  font-weight: 300;
  margin-right: 0.5rem;
}
.col-two {
  display: flex;
}
.forecast-wrapper {
  margin-top: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
}
.weather-details {
  position: relative;
  padding: 2rem;
  background-color: #222;
  color: #fff;
}
.details-item-wrapper {
  display: flex;
  justify-content: space-between;
}
.details-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: grid;
  gap: 1.8rem;
}
.daily-forecast-wrapper {
  text-align: center;
  margin-top: 4rem;
}
.swiper-btn-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 5rem;
}
.forecast-day {
  margin-top: 0.6rem;
}
.slide___3-Nqo {
  width: 6% !important;
}
.carousel__slider {
  height: 140px;
}
.carousel__next-button,
.carousel__back-button {
  background: none;
  border: none;
}
.chevron-icon {
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 550px) {
  .forecast-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .slide___3-Nqo {
    width: 4% !important;
  }
}
@media screen and (min-width: 1024px) {
  input {
    width: 40%;
  }
  .weather-details {
    padding: 4rem;
  }
  .slide___3-Nqo {
    width: 5% !important;
  }
}
@media screen and (min-width: 1440px) {
  input {
    width: 30%;
  }
  .slide___3-Nqo {
    width: 94px !important;
  }
  .swiper-btn-wrapper {
    display: none;
  }
}
